@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-Italic';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/OpenSans-Italic.eot');
  src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Italic.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/OpenSans-Light.eot');
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-Semibold.eot');
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-SemiboldItalic';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/OpenSans-SemiboldItalic.eot');
  src: url('../fonts/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-SemiboldItalic.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-BoldItalic';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/OpenSans-BoldItalic.eot');
  src: url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/OpenSans-ExtraBold.eot');
  src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans-ExtraboldItalic';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/OpenSans-ExtraboldItalic.eot');
  src: url('../fonts/OpenSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraboldItalic.woff') format('woff');
}
@font-face {
  font-family: 'RoadRadio';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/RoadRadio.eot');
  src: url('../fonts/RoadRadio.eot?#iefix') format('embedded-opentype'), url('../fonts/RoadRadio.woff') format('woff');
}
@font-face {
  font-family: 'Jeumpa-Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Jeumpa-Script.eot');
  src: url('../fonts/Jeumpa-Script.eot?#iefix') format('embedded-opentype'), url('../fonts/Jeumpa-Script.woff') format('woff');
}
@font-face {
  font-family: 'Jeumpa-Script-2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Jeumpa-Script-2.eot');
  src: url('../fonts/Jeumpa-Script-2.eot?#iefix') format('embedded-opentype'), url('../fonts/Jeumpa-Script-2.woff') format('woff');
}
@font-face {
  font-family: 'MyriadPro-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Regular.woff') format('woff');
}
@font-face {
  font-family: 'MyriadPro-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/MyriadPro-Bold.eot');
  src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Bold.woff') format('woff');
}
