body ul.primary li a {
  background: #ffd900;
  color: black;
}

body ul.primary li a.active {
  background: white;
}

.field-name-field-page-process-steps {
  margin: 2em 0;
}

.field-name-field-page-process-steps .field-item {
  margin-bottom: 1.5em;
}

.field-name-field-page-process-steps .field-item::after {
  clear: both;
  content: '';
  display: table;
}

.field-name-field-page-process-steps .field-type-image {
  width: 100%;
}

.field-name-field-page-process-steps .field-type-image img {
  display: block;
  height: auto;
  width: 100%;
}

@media screen and (min-width: 1201px) {
  .field-name-field-page-process-steps .field-type-image {
    float: left;
    margin-right: 5%;
    width: 32%;
  }

  .field-name-field-page-process-steps .field-type-text-long {
    float: left;
    width: 63%;
  }
}
