body.manager-menu {
  padding-top: 24px;
}

#manager-menu {
  background: #000;
  position: absolute;
  top: 0;
  width: 100%;
}

#manager-menu .menu {
  display: table;
  margin: 0;
  padding: 0;
}

#manager-menu .menu li {
  display: table-cell;
  padding: 6px 10px;
}

#manager-menu .menu li:hover {
  background: #333;
}

#manager-menu .menu a {
  color: #fff;
  text-decoration: none;
}
