html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,
hgroup, menu, nav, section, menu,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}                  

article, aside, figure, footer, header,
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

body { font:14px sans-serif; line-height:1.22; }

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% sans-serif; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

h1,h2,h3,h4,h5,h6 { font-weight: lighter;}

html { -webkit-font-smoothing: antialiased; }

a:hover, a:active { outline: none; }

a, a:active, a:visited { color:#013973;text-decoration:none; }
a:hover { color:#013973; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom;}
.ie6 input { vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button { cursor: pointer; }

a:link { -webkit-tap-highlight-color: transparent; } 

html { overflow-y: scroll; }

button {  width: auto; overflow: visible; }

.clearfix:after, .clear { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
._clearfix {&:after {.clear;}}
.clearfix { display: inline-block; }
.clearfix { display: block; }

input:focus,
textarea:focus{ outline: none;}

ul, ol, li {display:block; list-style:none;}
a:focus,
a:focus * {outline:none;}
.css3 {position:relative;}

body, select, input, textarea {font-family: sans-serif, Arial, Helvetica;}
h1,h2,h3,h4,h5,h6 {font-family: sans-serif, Arial, Helvetica; margin:0;}
h1 {font-size:36px;}
h2 {font-size:32px;}
h3 {font-size:28px;}
h4 {font-size:24px;}
h5 {font-size:18px;}
h6 {font-size:14px;}

._rel {position:relative;}
._abs {position:absolute;}
._fix {position:fixed;}
._blo {display:block;}
._inb {display:inline-block;}
._inl {display:inline;}
._none {display:none;}
._left {float:left;}
._right {float:right;}
._b {font-weight:700;}
._m {font-weight:500;}
._n {font-weight:400;}
._l {font-weight:300;}
._i {font-style:italic;}
._up {text-transform:uppercase;}
._upx {text-transform:none;}
._lsx {list-style:none;}
._x {text-decoration:underline;&:hover{text-decoration:none;}}
._xu {text-decoration:none; a{text-decoration:none;}}
._xuh {._xu; &:hover,a:hover{text-decoration:underline;}}
._m0p0 {margin:0; padding:0;}
._bg (@img:'sprite.png', @col:transparent, @rep:no-repeat, @x:0, @y:0){@url:%("../images/design/%s", @img);background-image:url(@url);background-color: @col;background-repeat: @rep;background-position:@x @y;}
._bgc (@c:transparent){background-color:@c;}
._bgp (@x:0, @y:0){background-position:@x @y;}
._bgn {background:none transparent;}
._bgx {background-repeat:repeat-x;}
._bgy {background-repeat:repeat-y;}
._bgi (@img:'sprite.png'){@url:%("../images/design/%s", @img);background-image:url(@url);}
._bgr (@img:'sprite.png'){@url:%("../images/design/%s", @img);background:url(@url) transparent repeat center 0;}
._bgm (@img:'sprite.png'){._bgi(@img);._bgp(center, center);}
._bgs (@w:auto, @h:auto){background-size:@w @h;}
._cover {background-size:cover;}
._ovh {overflow:hidden;}
._ovv {overflow:visible;}
._ova {overflow:auto;}
._ovy {._ovh;overflow-y:auto;}
._all {text-align:left;}
._alc {text-align:center;}
._alr {text-align:right;}
._alj {text-align:justify;}
._vat {vertical-align:top;}
._vam {vertical-align:middle;}
._vab {vertical-align:bottom;}
._text (@s:14px, @h:18px){font-size:@s; line-height:@h;}
._wh (@w:auto, @h:auto){width:@w; height:@h;}
._box (@x: 0px, @y: 0px, @blur: 1px, @color: #000) {box-shadow: @arguments;-moz-box-shadow: @arguments;-webkit-box-shadow: @arguments;}
._sprite (@x:1000px, @y:1000px){._bg(); ._bgp(@x, @y);}
._cont {content:'';}
._ti {text-indent:-9999px;}
._rad (@r:0){border-radius:@arguments; -webkit-border-radius:@arguments;}
._collapse {border-collapse:collapse;}
._separate {border-collapse:separate;}
._wrapx {white-space:nowrap;}
._break {word-wrap:break-word;}
._opc (@o:100){opacity:@o / 100;filter:alpha(opacity=@o);}
._trans (@p:all, @du:0.2s, @de:0s) {transition: @arguments; -webkit-transition: @arguments;}
._bbox {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
._nop {box-sizing:border-box;}

._arial {font-family: Arial, Helvetica, sans-serif;}
._opensans {font-family:'OpenSans-Regular', Arial, Helvetica, sans-serif;}
._opensansI {font-family:'OpenSans-Italic', Arial, Helvetica, sans-serif;}
._opensansL {font-family:'OpenSans-Light', Arial, Helvetica, sans-serif;}
._opensansSB {font-family:'OpenSans-Semibold', Arial, Helvetica, sans-serif;}
._opensansSBI {font-family:'OpenSans-SemiboldItalic', Arial, Helvetica, sans-serif;}
._opensansB {font-family:'OpenSans-Bold', Arial, Helvetica, sans-serif;}
._opensansBI {font-family:'OpenSans-BoldItalic', Arial, Helvetica, sans-serif;}
._opensansEB {font-family:'OpenSans-ExtraBold', Arial, Helvetica, sans-serif;}
._opensansEBI {font-family:'OpenSans-ExtraboldItalic', Arial, Helvetica, sans-serif;}
._roadradio {font-family:'RoadRadio', Arial, Helvetica, sans-serif;}
._jeumpa {font-family:'Jeumpa-Script', Arial, Helvetica, sans-serif;}
._jeumpa2 {font-family:'Jeumpa-Script-2', Arial, Helvetica, sans-serif;}
._myriadR {font-family:'MyriadPro-Regular', Arial, Helvetica, sans-serif;}
._myriadB {font-family:'MyriadPro-Bold', Arial, Helvetica, sans-serif;}

@white:#ffffff;
@black:#000000;
@color1:#ffd900;
@color2:#0290bf;
@color3:#09347b;

._sprite1x (@x:1000px, @y:1000px){._bg('sprite@1x.png', transparent, no-repeat, @x, @y);background-size:400px;}
/*._spriteX (@y:0){._bg('sprite_x.png', transparent, repeat-x, 0, @y);}
._spriteY (@x:0){._bg('sprite_y.png', transparent, repeat-y, @x, 0);}
._spriteIE (@x:0, @y:0){._bg('sprite_ie.png', transparent, no-repeat, @x, @y);}*/
._bgg (@f:transparent, @t:transparent){
    background:@t none;
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(@f), to(@t));
    background:-webkit-linear-gradient(@f, @t);
    background:-moz-linear-gradient(@f, @t);
    background:-ms-linear-gradient(@f, @t);
    background:-o-linear-gradient(@f, @t);
    background:linear-gradient(@f, @t);
    -pie-background:linear-gradient(@f, @t);
}

._bgg2 (@f:transparent, @t:transparent, @m:transparent, @p:50%){
	background:@f;
	background:-moz-linear-gradient(top, @f 0%, @m @p, @t 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,@f), color-stop(@p,@m), color-stop(100%,@t));
	background:-webkit-linear-gradient(top, @f 0%,@m @p,@t 100%);
	background:-o-linear-gradient(top, @f 0%,@m @p,@t 100%);
	background:-ms-linear-gradient(top, @f 0%,@m @p,@t 100%);
	background:linear-gradient(to bottom, @f 0%,@m @p,@t 100%);
}

@mw:0;

body, select, input, textarea {._opensans;font-size:14px;color:@black;}
a, a:hover, a:active, a:visited {color:@color1;text-decoration:underline;._trans(color, 0.3s, 0s);}
a:hover {._xu;}
strong, b {._opensansB;._n;
    em, i {._opensansBI;}
}
em, i {._opensansI;
    strong, b {._opensansBI;}
}

html.ovh {margin-right:17px;._ovh;
    body {._ovh;}
    .popup {overflow-y:scroll;}
    #header {right:17px;}
}
html.ovhm {._ovh;
    body {._ovh;}
    #header {width:100%;right:auto;}
}
html.web.opnm {margin-right:17px;._ovh;
    #header {padding-right:17px;}
}

/*html, body {min-width:@mw;}*/
/*html, body, #header, #promo .promo_tabs {min-width:1100px;}*/
body {line-height:20px;}
._container {max-width:1440px;/*min-width:930px;*/margin:0 auto;}
.container {._container;._clearfix;padding-left:139px!important;padding-right:31px!important;._nop;}

#header {._bgc(rgba(0,0,0,0.18));height:99px;._abs;top:0;left:0;right:0;z-index:100;._fix;._trans(background-color, 0.3s, 0s);
    &.sel {._bgc(rgba(0,0,0,0.4));}
    .link {._bgc(@color1);._opensansB;._text(14px, 18px);color:@black;._xu;._alc;._rad(6px);min-width:229px;padding:14px 20px 15px;margin:25px 0 0 35px;._nop;._right;._trans(all, 0.5s, 0s);
        &:hover {._bgc(@color2);color:@white;}
    }
    .phone {._opensansB;._text(14px, 18px);padding-left:27px;margin:39px 0 0 54px;._rel;._right;
        .ico {._sprite(0, 0);._wh(11px, 16px);._abs;top:2px;left:0;}
        .list div {._left;
            & + div {margin-left:30px;}
        }
        a {color:@white;._xu;._left;cursor:text;}
    }
    .drop {._opensansB;._text(14px, 18px);margin-top:39px;margin-left:-40px;._rel;z-index:1;._right;
        > div {._right;}
        > div > a {color:@white;._xu;._alr;padding:0 22px 0 30px;._rel;._blo;
            &:before {._sprite(-20px, 0);._wh(16px, 16px);._abs;top:1px;left:0;._cont;}
            &:after {._sprite(-50px, 0);._wh(10px, 7px);._abs;top:7px;right:0;._cont;}
            &:hover {color:@color1;}
        }
        .drop_list {min-width:100%;height:0;._abs;top:60px;right:0;._ovh;._wrapx;
            ul {._bgc(@color2);padding:5px 0 7px;}
            li {padding:3px 22px;
                &.sel {._none;}
            }
            a {color:@white;._xu;
                &:hover {color:@color1;}
            }
        }
    }
}
@media screen and (min-width:1201px){
    #header.v2 {
        -webkit-transition: background-color 0.3s ease 0s, top 0.3s ease 0s;
        -moz-transition: background-color 0.3s ease 0s, top 0.3s ease 0s;
        -o-transition: background-color 0.3s ease 0s, top 0.3s ease 0s;
        transition: background-color 0.3s ease 0s, top 0.3s ease 0s;
        &.off {top:-99px;
            & + #wrapper .opendoc_menu a.btn_2.hidden {._blo;opacity:1;}
        }
    }
}
#logo {height:66px;margin:13px 0 0 0;._left;opacity:1;._trans(opacity, 0.3s, 0s);
    img {height:100%;._left;}
    &.sel {opacity:1;}
}
#aside_menu {._bgc(@color3);width:83px;._fix;top:0;bottom:-60px;left:0;z-index:101;
    &.no_index {bottom:auto;}
}
#menu {._opensansB;._text(12px, 16px);._alc;width:83px;._abs;top:99px;bottom:60px;._ovh;
    ul {._abs;top:0;bottom:0;left:0;right:0;}
    li {height:20%;max-height:118px;min-height:85px;margin:0 5px;._rel;._ovh;
        & + li {border-top:1px solid #022258;
            a {margin-top:-1px;}
        }
        a {color:#b1b1b0;._xu;height:100%;padding:0 5px;margin:0 -5px;._nop;._rel;._blo;._trans(all, 0s, 0s);
            &:before, &:after {._sprite();._wh(16px, 16px);margin-left:-8px;._abs;top:29%;left:50%;opacity:1;._cont;._trans(opacity, 0s, 0s);}
            &:after {opacity:0;}
            span {min-height:32px;._abs;top:59%;left:5px;right:5px;._blo;}
        }
        /*a:hover, */&.sel a {color:@color1;
            &:before {opacity:0;}
            &:after {opacity:1;}
        }
        &.i1 a {
            &:before {._bgp(-110px, 0);}
            &:after {._bgp(-110px, -30px);}
        }
        &.i2 a {
            &:before {._bgp(-140px, 0);}
            &:after {._bgp(-140px, -30px);}
        }
        &.i3 a {
            &:before {._bgp(-170px, 0);}
            &:after {._bgp(-170px, -30px);}
        }
        &.i4 a {
            &:before {._bgp(-200px, 0);}
            &:after {._bgp(-200px, -30px);}
        }
        &.i5 a {
            &:before {._bgp(-228px, 0);}
            &:after {._bgp(-228px, -30px);}
        }
    }
}
#menu_ico {._bgc(@color2);._opensansB;._text(12px, 14px);color:@white;._up;._alc;height:99px;padding:70px 0 0;._nop;cursor:pointer;
    .ico {height:28px;._abs;top:31px;left:25px;right:25px;._ovh;
        &:before {border-top:3px solid @white;._abs;top:0;left:0;right:0;._cont;._trans(all, 0.3s, 0s);left:-35px;right:-10px;}
        &:after {border-top:3px solid @white;._abs;top:25px;left:0;right:0;._cont;._trans(all, 0.3s, 0s);left:-35px;right:-10px;}
        span {border-top:3px solid @white;._abs;top:12px;left:0;right:0;._cont;._trans(all, 0.3s, 0s);}
    }
    &.sel .ico {
        &:before {-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
        &:after {-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
        span {border-color:transparent;}
    }
}
#menu_drop {._bgc(@color2);color:@white;height:0;._abs;top:100%;left:0;right:0;._ovh;._fix;top:99px;left:0;right:0;
    &.opn {height:auto;}
    > div {overflow-y:auto;}
    .container {padding:29px 0 62px;._rel;}
    .logo {._abs;bottom:28px;right:31px;}
    .menu {._clearfix;._opensansB;._text(24px, 28px);margin-bottom:66px;
        li {padding-bottom:9px;._rel;._left;
            & + li {margin-left:58px;}
            a {color:@white;._xu;}
            &:before {._bgc(@color1);height:0;._abs;bottom:0;left:0;right:0;._cont;
                -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
                -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
                transition: height 0.3s, opacity 0.3s, transform 0.3s;
                -webkit-transform: translateY(-14px);
                -moz-transform: translateY(-14px);
                transform: translateY(-14px);
                opacity: 0;
            }
            /*&:hover,*/ &.sel {
                &:before {
                    height: 5px;
                    -webkit-transform: translateY(0px);
                    -moz-transform: translateY(0px);
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }
    }
    .content {._clearfix;._rel;
        .left {width:42.3%;margin-right:3%;._left;}
        .right {width:54.7%;margin-right:-20px;._left;
            .col {width:41%;._left;
                & + .col {width:54%;margin:0 -20px 0 5%;}
            }
        }
        h2 {._opensansL;._text(36px, 40px);margin:0 0 28px -3px;}
        h3 {._opensansB;._text(20px, 24px);color:#011b54;margin-bottom:20px;}
        ul {._opensansB;._text(16px, 22px);
            li + li {margin-top:19px;}
            a {color:@white;._xu;
                /*&:hover {color:@color1;}*/
            }
        }
        .col {min-height:331px;padding:0 0 15px 27px;._rel;._nop;
            &:before {border-left:2px solid #02a6de;._abs;top:5px;bottom:0;left:0;._cont;}
        }
    }
}

a.btn_1 {._bgc(@color1);._opensansB;._text(14px, 18px);color:@black;._xu;._alc;._rad(6px);padding:14px 20px 15px;._nop;._inb;._trans(all, 0.5s, 0s);}
a.btn_2 {._opensansB;._text(16px, 20px);color:@color3;._xu;._alc;._rad(6px);border:3px solid @white;padding:13px 20px 17px;._inb;._trans(all, 0.3s, 0s);}
.web {
    a.btn_1:hover {._bgc(@color2);color:@white;}
    a.btn_2:hover {._bgc(@color1);color:#877303;border-color:@color1;}
}

#promo {min-height:692px;._rel;._ovh;
    .promo_tabs {._text(14px, 18px);._abs;top:112px;left:0;right:0;z-index:1;
        .container {height:0;
            > div {._right;}
        }
        .tab {._left;
            & + .tab {margin-left:9px;}
            a {._bgc(rgba(0,0,0,0.72));color:@white;._xu;._alc;._rad(6px);min-width:110px;padding:8px 5px;._nop;._left;._trans(all, 0.5s, 0s);
                &:hover {._bgc(@color2);}
            }
            &.sel a {._bgc(@color2);._opensansSB;}
        }
    }
    .slider {
        .owl-item {._ovh;}
        .item {background:transparent none no-repeat right 0;._cover;min-height:692px;._rel;._ovh;
            > img {min-width:100%;min-height:100%;._abs;top:0;right:0;}
        }
        .container {color:@white;padding:140px 0 30px;._rel;z-index:1;
            img {margin:0 0 15px -2px;._blo;}
            .title {._opensansL;._text(44px, 48px);margin-left:-4px;}
            .txt {._text(18px, 30px);max-width:450px;margin-top:26px;}
            a.btn_1 {min-width:151px;margin-top:26px;}
        }
        .owl-container {._abs;top:167px;left:0;right:0;z-index:1;}
        .owl-content {._container;._clearfix;padding-left:139px!important;padding-right:31px!important;._nop;height:0;}
        .owl-controls {._alc;min-width:229px;padding:0 25px;margin:0;._nop;._rel;/*._abs;top:167px;right:31px;z-index:1;*/._right;}
        .owl-pagination {._inb;}
        .owl-page {._left;
            & + .owl-page {margin-left:13px;}
            span {._bgn;._rad(50%);._wh(13px, 13px);padding:0;margin:1px;._rel;opacity:1;._trans(all, 0.5s, 0s);
                &:before {border:2px solid @white;._rad(50%);._abs;top:-1px;bottom:-1px;left:-1px;right:-1px;._cont;}
            }
            &:hover span, &.active span {._bgc(@color2);}
        }
        .owl-buttons {._abs;top:0;left:0;right:0;
            .owl-prev, .owl-next {._bgn;._ti;._rad(0);._wh(10px, 19px);._m0p0;opacity:1;._abs;top:-2px;
                &:before, &:after {._sprite();._abs;top:0;bottom:0;left:0;right:0;opacity:1;._cont;._trans(opacity, 0.5s, 0s);}
                &:after {opacity:0;}
                &:hover {
                    &:before {opacity:0;}
                    &:after {opacity:1;}
                }
            }
            .owl-prev {left:0;
                &:before {._bgp(-70px, 0);}
                &:after {._bgp(-70px, -30px);}
            }
            .owl-next {right:0;
                &:before {._bgp(-90px, 0);}
                &:after {._bgp(-90px, -30px);}
            }
        }
    }
}
#index {
    .box_1 {._bg('index_1.png', transparent, no-repeat, center, 0);._cover;
        .container {padding:134px 0 49px;}
        h2 {._opensansB;._text(36px, 40px);color:@color1;margin-bottom:116px;}
        h3 {._opensansL;._text(44px, 48px);color:@white;margin-bottom:9px;}
        .info {._text(14px, 29px);color:@white;max-width:430px;
            a {color:@white;._x;}
        }
        .box {._clearfix;max-width:845px;margin-top:44px;
            img {max-width:330px;._right;}
            .txt {._bgc(@color2);._text(14px, 27px);color:@white;padding:13px 21px 26px;._nop;._ovh;
                h4 {._opensansB;._text(18px, 29px);margin-bottom:20px;}
                a {color:@white;._x;}
            }
        }
    }
    .box_2 {._bgc(@color2);color:@white;
        .container {padding:89px 0 82px;}
        .box {._clearfix;
            & + .box {margin-top:77px;}
        }
        .txt {._ovh;
            h2 {._opensansL;._text(44px, 48px);margin-bottom:25px;
                img {margin:0 -80px 0 25px;._rel;top:1px;}
                &.with_img {padding-right:80px;}
                & + div {margin-top:40px;}
            }
            blockquote {._opensansB;._text(18px, 23px);}
            div {._text(14px, 23px);margin-top:29px;
                & + blockquote {margin-top:30px;}
            }
        }
        .img_1 {width:31%;margin:11px 0 0 8%;._right;
            img {max-width:100%;._blo;}
        }
        .img_2 {margin:-48px 5.2% 0 0;._left;
            img {max-width:100%;._blo;}
        }
    }
    .box_3 {._bg('index_4.png', transparent, no-repeat, center, 0);._cover;
        .container {padding:61px 0 90px;}
        .gallery_tabs {._clearfix;._opensansSB;._text(14px, 18px);._alc;margin-bottom:21px;
            > div {margin-right:9px;._left;
                a {._bgc(rgba(0,0,0,0.72));color:@white;._xu;._rad(6px);min-width:111px;padding:7px 24px 7px 48px;._nop;._rel;._left;._trans(all, 0.5s, 0s);
                    &:before {._sprite1x();._abs;._cont;}
                }
                &.video a:before {._bgp(-100px, 0);._wh(26px, 18px);top:7px;left:10px;}
                &.photo a:before {._bgp(-150px, 0);._wh(26px, 12px);top:10px;left:11px;}
                a:hover {._bgc(@color3);}
                &.sel a {._bgc(#f31830);}
            }
        }
        .gallery_content {margin:0 -7px;}
        .gallery_item {._none;
            &.sel {._blo;}
        }
        .g-item {max-width:369px;padding:0 7px;._nop;
            .img {
                a {width:100%;._xu;._blo;}
                img {width:100%;._blo;}
            }
            .name {._opensansSB;._text(14px, 22px);color:@white;margin-top:21px;
                a {color:@white;._xu;padding:2px 0;}
            }
        }
        .gallery_container {padding-top:1px;._rel;}
        .owl-carousel {position:static!important;}
        .owl-container {._abs;top:8px;right:0;z-index:1;}
        .owl-content {height:0;}
        .owl-controls {._alc;min-width:229px;padding:0 25px;margin:0;._nop;._rel;/*._abs;top:167px;right:31px;z-index:1;*/._right;}
        .owl-pagination {._inb;}
        .owl-page {._left;
            & + .owl-page {margin-left:13px;}
            span {._bgn;._rad(50%);._wh(13px, 13px);padding:0;margin:1px;._rel;opacity:1;._trans(all, 0.5s, 0s);
                &:before {border:2px solid @white;._rad(50%);._abs;top:-1px;bottom:-1px;left:-1px;right:-1px;._cont;}
            }
            &:hover span, &.active span {._bgc(@color2);}
        }
        .owl-buttons {._abs;top:0;left:0;right:0;
            .owl-prev, .owl-next {._bgn;._ti;._rad(0);._wh(10px, 19px);._m0p0;opacity:1;._abs;top:-2px;
                &:before, &:after {._sprite();._abs;top:0;bottom:0;left:0;right:0;opacity:1;._cont;._trans(opacity, 0.5s, 0s);}
                &:after {opacity:0;}
                &:hover {
                    &:before {opacity:0;}
                    &:after {opacity:1;}
                }
            }
            .owl-prev {left:0;
                &:before {._bgp(-70px, 0);}
                &:after {._bgp(-70px, -30px);}
            }
            .owl-next {right:0;
                &:before {._bgp(-90px, 0);}
                &:after {._bgp(-90px, -30px);}
            }
        }
    }
    .box_4 {._bgg(#ccffff, #0099cc);._text(14px, 23px);color:#0099cc;
        .container {padding:125px 0 82px;}
        .box + .box {padding-top:125px;}
        h2 {._opensansB;._text(36px, 40px);margin-bottom:79px;}
        .box_tabs {._clearfix;._opensansB;._text(16px, 24px);color:@color3;padding-bottom:1px;margin:0 -7px 45px;
            .tab {margin-bottom:14px;max-width:350px;padding:0 7px;._nop;._left; // diverged
                > div {._rad(6px);border:3px solid @color1;padding:10px 19px 14px;cursor:pointer;._trans(all, 0.5s, 0s);
                    > div {._wh(100%, 40px);display:table;
                        > div {._vam;display:table-cell;}
                    }
                }
                &.sel > div {._bgc(@color1);color:#746304;}
            }
            &.v2 {max-width:1050px;
                .tab {width:25%;
                    > div {border-color:@white;}
                    &.sel > div {._bgc(@color1);color:#746304;border-color:@color1;}
                }
            }
        }
        .box_content + .box_tabs {margin-top:171px;}
        .item {._clearfix;._none;
            &.sel {._blo;}
            .img_list {width:57.8%;max-width:734px;min-width:367px;margin:0 56px 0 -7px;padding-top:5px;._left;
                .img {width:50%;padding:0 7px;._nop;._left;
                    img {width:100%;._blo;}
                    .name {._opensansB;._text(14px, 18px);color:@black;min-height:54px;padding-bottom:9px;margin-top:11px;._ovh;}
                    .img_box {._rel;}
                    .img_txt {._bgc(rgba(2,144,191,0.84));._text(13px, 23px);color:@white;._abs;top:0;bottom:0;left:0;right:0;opacity:0;._trans(opacity, 0.3s, 0s);._none;
                        > div {._abs;bottom:23px;left:20px;right:20px;}
                        .title {._opensansB;._text(15px, 25px);}
                        p {margin-top:8px;}
                    }
                }
            }
            .txt {._ovh;
                h1, h2, h3, h4 {._opensansL;._text(40px, 44px);margin-bottom:30px;}
                p {margin:12px 0;}
                .tools {margin-top:24px;}
                a.btn_1 {min-width:140px;}
                *:first-child {margin-top:0;}
                *:last-child {margin-bottom:0;}
            }
        }
        .box_content.v2 {color:@white;
            .item .img_list {margin:0 -7px 0 56px;float:none;._right;
                .img {
                    .name {color:@white;}
                    .img_txt {._bgc(rgba(255,204,0,0.84));}
                }
            }
        }
    }
    .box_5 {._bgc(#3cc9f7);
        h2 {._opensansB;._text(24px, 32px);color:@white;max-width:550px;padding-left:84px;margin:30px 0 -94px;._rel;z-index:1;
            &:before {._sprite1x(-250px, -50px);._wh(64px, 64px);margin-top:-31px;._abs;top:50%;left:0;._cont;}
        }
        .map {max-width:1493px;padding:20px 0 15px;margin:0 auto;
            .map_content {._rel;}
            img {width:100%;._blo;}
            .regions {
                > div {._abs;
                    &.moscow {width:3.081%;top:55.4%;left:10.7%;}
                    &.samara {width:3.751%;top:70%;left:16.5%;}
                }
                img {max-width:100%;._trans(opacity, 0.3s, 0s);}
                .area a {._xu;width:100%;._blo;}
                .name {margin-bottom:19px;._abs;bottom:100%;left:50%;opacity:0;._trans(opacity, 0.3s, 0s);
                    > div, > a {._bgc(@white);._opensansB;._text(16px, 20px);color:#226087;._xu;padding:4px 16px 6px;._rel;._inb;._trans(background-color, 0.3s, 0s);
                        &:before {border-top:14px solid @white;border-left:8px solid transparent;border-right:8px solid transparent;margin-left:-8px;._abs;top:100%;left:50%;._cont;._trans(border-color, 0.3s, 0s);}
                    }
                    &.on {opacity:1;}
                }
            }
        }
    }
}
.web {
    #menu li {
        a:hover, &.sel a {color:@color1;
            &:before {opacity:0;}
            &:after {opacity:1;}
        }
    }
    #menu_drop {
        .menu {
            li {
                &:hover, &.sel {
                    &:before {
                        height: 5px;
                        -webkit-transform: translateY(0px);
                        -moz-transform: translateY(0px);
                        transform: translateY(0px);
                        opacity: 1;
                    }
                }
            }
        }
        .content ul a:hover {color:@color1;}
    }
    #index {
        .box_3 .g-item {
            .img:hover + .name a {color:@color1;}
            .name a:hover {color:@color1;}
        }
        .box_4 {
            .box_tabs {
                .tab > div:hover {._bgc(@color1);color:#746304;}
                &.v2 .tab > div:hover {._bgc(@color1);color:#746304;border-color:@color1;}
            }
            .item .img_list .img .img_txt:hover {opacity:1;}
        }
        .box_5 .map .regions {
            .area a:hover img {opacity:0.7;}
            .name a:hover {._bgc(@color1);
                &:before {border-top-color:@color1;}
            }
        }
    }
}
.mobile {
    #promo .slider .owl-container {._none;}
}
/*html, body {width:3000px;}*/
/*#header, #wrapper {width:1440px;}*/
@media screen and (max-width:1300px){
    #header {
        .phone {margin:31px 0 0 35px;
            .list div {float:none;
                & + div {margin:0;}
            }
        }
        .drop {margin-top:31px;
            > div > a span {._blo;}
            .drop_list {top:68px;}
        }
    }
    /*#header {
        .phone {margin:25px 0 -100px;}
        .drop {margin:54px -22px 0 0;
            .drop_list {top:45px;}
        }
    }*/
    #index .box_4 {
        .box_tabs.v1 .tab {width:33.3%;}
        .box_content + .box_tabs {margin-top:150px;}
        .item {
            .img_list {margin-right:40px;}
            .txt h3 {._text(34px, 38px);}
        }
        .box_content.v2 .item .img_list {margin-left:40px;}
    }
}
@media screen and (max-width:1150px){
    #menu_drop {
        .menu {._text(20px, 24px);
            li + li {margin-left:40px;}
        }
        .content {padding-bottom:20px;
            .left {width:auto;margin:0;float:none;}
            .right {width:auto;margin:30px 0 0;float:none;}
            .col {min-height:0!important;padding-bottom:0;}
        }
    }
    #index {
        .box_2 .txt blockquote br {._none;}
        .box_4 {
            .box_content + .box_tabs {margin-top:130px;}
            .item .img_list {._clearfix;width:auto;margin:0 auto 20px!important;float:none!important;}
            .box_content {color:@white;}
        }
    }
}
@media screen and (max-width:1000px){
    #header {
        .phone {._wh(20px, 29px);padding:0;margin:34px 0 0 15px;cursor:pointer;
            .ico {._sprite1x(0, 0);._wh(20px, 29px);._abs;top:0;left:0;._cont;}
            .list {._none;}
        }
        .drop {._wh(29px, 29px);margin:34px 0 0 -15px;
            > div > a {._wh(29px, 29px);._ti;._all;padding:0;
                &:before {._sprite1x(-50px, 0);._wh(29px, 29px);top:0;left:0;}
                &:after {._none;}
            }
            .drop_list {top:65px;}
        }
    }
    #index {
        .box_2 .img_2 {width:45%;margin-top:-25px;}
        .box_4 {
            .box_tabs {
                br {._none;}
                &.v1 .tab {width:50%;
                    &.v2 {width:100%;}
                }
                &.v2 .tab {width:50%;}
            }
            .box_content + .box_tabs {margin-top:100px;}
        }
    }
}
@media screen and (max-width:930px){
    .container {padding-left:103px!important;padding-right:20px!important;}
    #header {
        .drop {position:static;
            .drop_list {._alc;min-width:0;height:0!important;top:99px;left:83px;right:0;._ovv;white-space:normal;._none;
                ul {._all;._inb;}
            }
            &.sel .drop_list {._blo;}
        }
    }
    #aside_menu.no_index + #header {
        .drop .drop_list {left:0;}
    }
    #menu_drop {
        .menu {._text(16px, 20px);
            li + li {margin-left:30px;}
        }
    }
    #promo .slider .owl-content {padding-left:103px!important;padding-right:20px!important;}
    #promo .slider {
        /*.item > img {width:170%;min-height:0;}*/
        .container {
            img {max-width:57%;}
            .txt {max-width:none;}
        }
    }
    #index {
        .box_4 .item .img_list {max-width:none;margin:0 -7px 20px!important;}
        .box_5 {
            h2 {margin-bottom:0;}
            .map {
                .regions > div.samara .name {margin-top:19px;margin-bottom:0;top:100%;bottom:auto;
                    > div, > a {
                        &:before {border-top:0;border-bottom:14px solid @white;top:auto;bottom:100%;}
                    }
                }
            }
        }
    }
}
@media screen and (max-width:800px){
    #menu_drop {
        .menu {._text(14px, 16px);margin-bottom:40px;}
        .content ul {._text(14px, 20px);
            li + li {margin-top:14px;}
        }
    }
    #index {
        .box_1 {
            .container {padding:80px 0 40px;}
            h2 {margin-bottom:60px;}
            .box {
                img {max-width:100%;float:none;._blo;}
                .txt {min-height:0!important;}
            }
        }
        .box_2 {
            .container {padding:60px 0;}
            .box {
                & + .box {margin-top:40px;}
            }
            .img_1 {width:auto;margin:0 0 30px;float:none;
                img {margin:0 auto;._blo;}
            }
            .img_2 {width:auto;margin:0 0 20px;float:none;
                img {margin:0 auto;._blo;}
            }
        }
        .box_4 {
            .container {padding:80px 0 40px;}
            .box + .box {padding-top:80px;}
            h2 {margin-bottom:50px;}
            .box_tabs {margin-bottom:30px;}
        }
    }
}
@media screen and (max-width:700px){
    #promo .slider {
        .container {padding-top:170px;
            .title {._text(36px, 40px);}
        }
    }
    #promo {._bgc(@color2);height:auto!important;min-height:0;
        .slider {padding-bottom:94px;._nop;
            .item {height:auto!important;min-height:0;
                > img {width:100%;min-width:0;min-height:0;position:static;._blo;}
            }
            .container {padding:20px 0 30px;
                img {._none;}
                .title {._text(26px, 30px);margin:0;}
                .txt {._text(14px, 22px);margin-top:10px;}
                a.btn_1 {margin-top:17px;}
            }
            .owl-carousel {position:static!important;}
            .owl-container {._alc;top:auto;bottom:70px;}
            .owl-controls {float:none;._inb;}
            .owl-content {height:auto;}
            .owl-page:hover span, .owl-page.active span {._bgc(@color3);}
        }
        .promo_tabs {._alc;top:auto;bottom:16px;
            .container {height:auto;
                > div {float:none;._inb;}
            }
            .tab.sel a {._bgc(@color3);}
        }
    }
    #menu_drop {
        .menu {._text(14px, 16px);
            li {clear:left;
                & + li {margin:14px 0 0;}
            }
        }
    }
    #index {
        .box_1 h3 {._text(34px, 38px);}
        .box_2 .txt h2 {._text(34px, 38px);
            &.with_img {padding-right:60px;
                img {height:25px;margin-left:15px;}
            }
        }
        .box_3 {
            .gallery_content {max-width:355px;margin:0 auto;}
            .g-item {padding:0;}
            .owl-container {._alc;margin-top:30px;position:static;}
            .owl-controls {float:none;._inb;}
        }
        .box_4 .item {
            .img_list {max-width:353px;min-width:0;margin:0 auto 20px!important;
                .img {width:auto;padding:0;float:none;}
            }
        }
    }
    .web {
        #promo {
            .slider .container a.btn_1:hover {._bgc(@color3);}
            .promo_tabs .tab a:hover {._bgc(@color3);}
        }
    }
}
@media screen and (max-width:600px){
    #logo {._none;}
    #menu_drop {
        .content {
            .right .col {width:auto;float:none;
                & + .col {width:auto;padding-top:20px;margin:0;
                    &:before {top:0;}
                }
            }
            h2 {._text(30px, 32px);}
        }
    }
    /*#promo .slider {
        .container {
            .title {._text(30px, 34px);}
            .txt {._text(16px, 28px);}
        }
    }*/
    #promo {padding-top:99px;}
    #index {
        .box_4 {
            .container {padding:60px 0 40px;}
            .box_tabs {
                &.v1 .tab {width:auto;float:none;
                    &.v2 {width:auto;}
                }
                &.v2 .tab {width:auto;float:none;}
            }
            .item .txt h3 {._text(26px, 30px);}
            .box_content + .box_tabs {margin-top:70px;}
        }
        .box_5 .map {padding:30px 0;}
    }
}
@media screen and (max-width:500px){
    .container {padding-left:80px!important;}
    #header .link {min-width:0;margin-left:15px;}
    #aside_menu {width:60px;}
    #menu {._text(9px, 12px);width:60px;}
    #menu_ico {
        .ico {left:14px;right:14px;}
    }
    #header {
        .drop .drop_list {left:60px;}
    }
    #aside_menu.no_index + #header {
        .drop .drop_list {left:0;}
    }
    #promo {
        .promo_tabs {._alc;
            .container > div {float:none;._inb;}
        }
        .slider {
            .container {padding-top:190px;}
            .owl-container {._alc;}
            .owl-controls {float:none;._inb;}
            .owl-content {padding-left:80px!important;}
        }
    }
    #promo .slider .container {padding-top:20px;}
}
@media screen and (max-width:400px){
    #header .link {max-width:130px;padding:10px 20px 11px;margin-top:20px;}
    #index {
        .box_1 h3 {._text(28px, 32px);}
        .box_2 .txt h2 {._text(28px, 32px);
            &.with_img {padding-right:45px;
                img {height:21px;margin-left:15px;}
            }
        }
        .box_4 .item .img_list .img .img_txt p {._none;}
    }
}
@media screen and (max-height:524px){
    .mobile {
        #menu ul {._ovy;}
    }
}

#footer {._bgc(#025572);._text(14px, 18px);color:@white;
    > section {padding:31px 0 28px;}
    .copyright {._left;}
    .designed {._right;
        a {._up;}
    }
    a {color:@white;._xuh;}
}

.promo_inner {background:no-repeat center 0;._cover;height:470px;}
.body_inner {margin-top:-213px;
    .body_container {max-width:1492px;padding:0 83px;margin:0 auto;._nop;}
    .body_content {._bgc(@white);padding:36px 56px 68px;}
    .path {._clearfix;._opensansB;._text(12px, 16px);color:#0179a1;margin-bottom:17px;
        li {margin-right:4px;._left;
            & + li:before {margin-right:3px;content:'»';}
        }
        a {color:#0179a1;._xuh;}
    }
}
.body_inner_item_list {._bgc(@color2);color:@white;._ovh;
    .body_container {padding:49px 139px 33px;}
    h2 {._opensansL;._text(36px, 42px);margin-bottom:52px;}
    .list {._clearfix;padding:1px 0;
        .item_content {width:246px;._left;}
        .item {width:25%;margin-bottom:40px;._left;
            .img {._rel;margin-bottom:19px;
                &:before {._bg('body_inner_item_list_image.png', transparent, repeat-x, 0, bottom);._abs;top:0;bottom:0;left:0;right:0;._cont;}
                a {._xu;width:100%;._blo;}
                img {width:100%;._blo;}
                .title {._opensansB;._text(18px, 22px);color:@white;._up;._abs;bottom:9px;left:14px;right:20px;}
            }
            .txt {._text(13px, 25px);}
            a.btn_2 {margin-top:21px;._blo;}
        }
    }
}
@media screen and (min-width:1321px){
    .body_inner_item_list .list_size > div {._none;
        &.s1 {._blo;}
    }
}
@media screen and (max-width:1320px) and (min-width:1061px){
    .body_inner_item_list {
        .list .item {width:33.3%;}
        .list_size > div {._none;
            &.s2 {._blo;}
        }
    }
}
@media screen and (max-width:1060px) and (min-width:651px){
    .body_inner_item_list {
        .list {width:auto!important;max-width:552px;margin:0 auto;
            .item_content {margin:0 auto;float:none;}
            .item {width:50%;
                &:nth-child(odd) .item_content {._left;}
                &:nth-child(even) .item_content {float:none;._right;}
            }
        }
        .list_size > div {._none;
            &.s3 {._blo;}
        }
    }
}
@media screen and (max-width:650px){
    .body_inner_item_list {
        .list {width:auto!important;max-width:246px;padding-bottom:4px;margin:0 auto;
            .item_content {width:auto;margin:0 auto;float:none;}
            .item {width:auto;margin:0;float:none;
                & + .item {margin-top:40px;}
                .txt {min-height:0!important;}
            }
        }
        .list_size > div {._none;
            &.s4 {._blo;}
        }
    }
}
@media screen and (max-width:500px){
    #footer {
        .copyright {float:none;}
        .designed {margin-top:8px;float:none;}
    }
}
.opendoc {._clearfix;._text(14px, 32px);color:#0179a1;
    &:first-child {padding-top:33px;}
    h1 {._opensansB;._text(36px, 42px);margin:62px 0 41px;._ovh;}
    h2 {._opensansL;._text(36px, 42px);margin:62px 0 48px;._ovh;}
    h3 {._opensansB;._text(24px, 37px);margin:49px 0 15px;._ovh;}
    a {color:#0179a1;}
    p {margin:12px 0;._ovh;}
    ul, ol {._lsx;margin:12px 0;._ovh;
        > li {padding-left:34px;._rel;
            & + li {margin-top:11px;}
        }
    }
    ul > li:before {._sprite1x(-200px, 0);._wh(18px, 18px);._abs;top:7px;left:0;._cont;}
    ol {counter-reset:myIndex;
        > li:before {width:30px;._abs;top:0;left:0;content:counter(myIndex)'.';counter-increment:myIndex;}
    }
    table {width:100%!important;}
    .list {._clearfix;._opensansB;line-height:20px;padding-bottom:1px;margin:54px 0;
        > div {width:33%;max-width:336px;margin-bottom:20px;._left;
            img {margin-right:30px;._left;}
            > div {padding-right:30px;._ovh;
                > div {._wh(100%, 98px);display:table;
                    > div {._vam;display:table-cell;}
                }
            }
        }
    }
    .image_list {._clearfix;margin:40px -10px 0;._rel;
        .img {margin:0 10px;
            img {width:100%;._blo;}
            a {._xu;width:100%;._blo;}
        }
        .owl-item {._ovh;}
        .owl-controls {
            .owl-prev, .owl-next {._bgn;._ti;._rad(0);._wh(10px, 19px);._m0p0;opacity:1;._abs;top:50%;cursor:pointer;
                &:before, &:after {._sprite();._abs;top:0;bottom:0;left:0;right:0;opacity:1;._cont;._trans(opacity, 0.5s, 0s);}
                &:after {opacity:0;}
                &:hover {
                    &:before {opacity:0;}
                    &:after {opacity:1;}
                }
            }
            .owl-prev {right:100%;
                &:before {._bgp(-70px, 0);}
                &:after {._bgp(-70px, -30px);}
            }
            .owl-next {left:100%;
                &:before {._bgp(-90px, 0);}
                &:after {._bgp(-90px, -30px);}
            }
            .owl-pager {._opensansB;._text(14px, 16px);color:#0179a1;._alc;}
        }
    }
    .image {width:388px;max-width:100%;padding:10px 0;margin-right:66px;._rel;._left;
        & + h1, & + h2, & + h3, & + p, & + ul, & + ol, & + .list {margin-top:0;}
        img {height: auto; max-width:100%;._blo;} // diverged
        .img {._ovh;}
        .owl-item {._ovh;}
        .owl-controls {width:150px;margin:26px auto 0;._rel;._none;
            .owl-prev, .owl-next {._bgn;._ti;._rad(0);._wh(10px, 19px);._m0p0;opacity:1;._abs;top:-2px;cursor:pointer;
                &:before, &:after {._sprite();._abs;top:0;bottom:0;left:0;right:0;opacity:1;._cont;._trans(opacity, 0.5s, 0s);}
                &:after {opacity:0;}
                &:hover {
                    &:before {opacity:0;}
                    &:after {opacity:1;}
                }
            }
            .owl-prev {right:100%;
                &:before {._bgp(-70px, 0);}
                &:after {._bgp(-70px, -30px);}
            }
            .owl-next {left:100%;
                &:before {._bgp(-90px, 0);}
                &:after {._bgp(-90px, -30px);}
            }
            .owl-pager {._opensansB;._text(14px, 16px);color:#0179a1;._alc;}
        }
        &.on .owl-controls {._blo;}
    }
    .image--centered {float:none; margin:26px auto 0;} // diverged
    .image_box {._clearfix;
        & + .image_box {margin-top:30px;}
    }
    .image_txt {._ovh;}
    .bttn {margin:20px 0;
        a.btn_1 {margin:0;}
    }
    .title {._text(24px, 37px);margin:49px 0 15px;
        h1, h2, h3 {._text(24px, 37px);color:@black;margin:0 20px 0 0;._inl;}
    }
    .date {._opensansB;._text(14px, 32px);color:@color2;._inb;}
    a.btn_1 {color:@black;min-width:170px;margin-top:20px;}
    *:first-child {margin-top:0;}
    *:last-child {margin-bottom:0;}
}
.opendoc_left {padding:1px 0;}
.opendoc_menu {._bgc(@color1);._opensansB;._text(18px, 22px);color:#0179a1;width:362px;padding:70px 39px 26px;._nop;
    h2 {._opensansB;._text(36px, 42px);margin:0 0 48px -3px;}
    .menu {
        li { margin: 0; }
        a {color:#0179a1;._xu;padding:2px 0;} // diverged
        a.active, a.active-trail {color:#0179a1;text-decoration:underline;} // diverged
        > ul > li {padding-left:39px;._rel;
            & + li {margin-top:20px;}
            &:before {._sprite1x(-250px, 0);._wh(8px, 16px);._abs;top:4px;left:-1px;._cont;}
            &.sel ul {._blo;}
            &.sel:not(.sub) > a {color:@black;}
        }
        ul {._up;}
        ul ul {._text(14px, 23px);._upx;padding:29px 0 0;margin-left:-39px;._none;
            li + li {margin-top:19px;}
            a {color:@black;}
            .sel a {color:#0179a1;text-decoration:underline;}
        }
        & + .menu {border-top:1px solid #0179a1;margin-top:20px;padding-top:20px;}
    }
    a.btn_2 {margin-top:27px;._blo;
        &.hidden {._none;._blo;opacity:0;}
    }
    .info_box {color:@white;._alc;width:284px;padding-top:40px;
        .txt {._opensansB;._text(20px, 26px);._rel;padding-top:248px;
            &:before {._wh(228px, 228px);margin-left:-114px;._abs;top:0;left:50%;._cont;._sprite1x(0, -50px);}
        }
        &.fix {._fix;top:0;}
    }
}
.web .opendoc_menu {
    .menu {
        a:hover {text-decoration:underline;}
        /*> ul > li > a:hover {color:@black;}
        ul ul a:hover {color:#0179a1;}*/
    }
    a.btn_2:hover {._bgc(@color2);color:@white;border-color:@color2;}
}
@media screen and (min-width:1201px){
    .opendoc_with_menu {._clearfix;
        /*&.no_fix {*/._rel;z-index:1;
            .opendoc_right:before {._bgc(@color1);width:362px;._abs;top:-36px;bottom:-68px;z-index:-1;._cont;}
        /*}*/
    }
    .opendoc_left {width:100%;padding-right:362px;margin-right:-362px;._nop;._left;
        /*.image_list {margin-right:-372px;}*/
        .opendoc .image {width:46%;max-width:388px;margin-right:7.7%;
            img {width:100%;max-width:none;}
        }
    }
    .opendoc_right {width:362px;margin:-36px -56px -68px 0;._right;}
    .opendoc_menu.fix {._fix;top:99px;padding-top:44px;}
}
@media screen and (max-width:1200px){
    .opendoc_right {margin:40px -139px -68px;padding:0!important;}
    .opendoc_menu {width:auto;padding:44px 139px 26px;margin:0!important;
        a.btn_2 {max-width:230px;margin-left:auto;margin-right:auto;
            &.hidden {._none!important;}
        }
        .info_box {._none;}
    }
}
@media screen and (max-width:1000px){
    .opendoc_right {margin:40px -91px -68px;}
    .opendoc_menu {padding:44px 91px 35px;}
}
@media screen and (max-width:930px){
    .opendoc_right {margin:40px -60px -68px;}
    .opendoc_menu {padding:44px 60px 35px;}
}
@media screen and (max-width:700px){
    .opendoc_right {margin:40px -60px -68px;}
    .opendoc_menu {padding:44px 60px 35px;}
}
@media screen and (max-width:500px){
    .opendoc_right {margin:40px -35px -35px;}
    .opendoc_menu {padding:33px 39px 35px;
        h2 {._text(30px, 36px);}
        a.btn_2 {max-width:none;}
    }
}
@media screen and (max-width:1300px){
    .opendoc .list > div {width:50%;}
}
@media screen and (max-width:1200px){
    .opendoc:first-child {padding-top:7px;}
}
@media screen and (max-width:1000px){
    #aside_menu.no_index + #header + #wrapper + #footer .container {padding-left:91px!important;}
    .body_inner {
        .body_container {padding:0 31px;}
        .body_content {padding-left:60px;padding-right:60px;}
    }
    .body_inner_item_list .body_container {padding:49px 91px 74px;}
}
@media screen and (max-width:930px){
    #aside_menu.no_index + #header + #wrapper + #footer .container {padding-left:60px!important;}
    .body_inner {
        .body_container {padding:0 20px;}
        .body_content {padding-left:40px;padding-right:40px;}
    }
    .body_inner_item_list .body_container {padding:49px 60px 74px;}
    .opendoc {
        .list > div {width:auto;max-width:none;float:none;
            > div {padding:0;}
        }
        .image {margin:0 auto 20px;float:none;}
    }
}
@media screen and (max-width:700px){
    .opendoc .image_list {max-width:408px;margin-left:auto;margin-right:auto;}
}
@media screen and (max-width:500px){
    #aside_menu.no_index + #header + #wrapper + #footer .container {padding-left:35px!important;}
    .body_inner {
        .body_container {padding:0 10px;}
        .body_content {padding:25px 25px 35px;}
    }
    .body_inner_item_list .body_container {padding:49px 35px 38px;}
    .body_inner_item_list h2 {._text(30px, 36px);}
    .opendoc {
        &:first-child {padding-top:7px;}
        h1 {._text(30px, 36px);}
        h2 {._text(30px, 36px);}
        h3 {._text(18px, 31px);}
    }
}
@media screen and (max-width:400px){
    .opendoc {
        h1 {._text(26px, 32px);}
        h2 {._text(26px, 32px);}
    }
}

#contacts {._rel;
    .contacts_container {max-width:1162px;padding:0 31px;margin:0 auto;._nop;._rel;}
    .box_1 {._bgc(#3cc9f7);
        .title {width:100%;margin:156px -100% -500px 0;._rel;._left;
            h1 {._opensansB;._text(36px, 40px);color:@white;}
        }
        .map {max-width:1493px;margin:0 auto;
            .map_content {._rel;}
            img {width:100%;._blo;}
            .regions {
                > div {._abs;
                    &.moscow {width:3.081%;top:55.4%;left:10.7%;}
                    &.samara {width:3.751%;top:70%;left:16.5%;}
                }
                img {max-width:100%;}
                .name {margin-bottom:19px;._abs;bottom:100%;left:50%;opacity:0;._trans(opacity, 0.3s, 0s);
                    > div, > a {._bgc(@white);._opensansB;._text(16px, 20px);color:#226087;._xu;padding:4px 16px 6px;._rel;._inb;
                        &:before {border-top:14px solid @white;border-left:8px solid transparent;border-right:8px solid transparent;margin-left:-8px;._abs;top:100%;left:50%;._cont;}
                    }
                    &.on {opacity:1;}
                }
            }
        }
        &.v2 {._rel;
            &:before {border-top:34px solid #3cc9f7;border-left:82px solid transparent;border-right:82px solid transparent;margin-left:-82px;._abs;top:100%;left:50%;._cont;}
        }
    }
    .box_2 {._bgc(#3cc9f7);color:@white;._rel;
        &:before {border-top:34px solid #3cc9f7;border-left:82px solid transparent;border-right:82px solid transparent;margin-left:-82px;._abs;top:100%;left:50%;._cont;}
        .contacts_container {._clearfix;padding-top:17px;padding-bottom:25px;}
        h2 {._opensansL;._text(44px, 48px);._left;}
        form {margin-top:18px;._rel;z-index:2;._right;
            .inputblock {width:144px;._left;
                & + .inputblock {margin-left:48px;}
                label {._none;}
            }
            .sbHolder {height:47px;
                .sbToggle {._xu;._wh(27px, 26px);border-bottom:5px solid @white;padding-bottom:16px;._right;
                    &:before {border-top:15px solid @color1;border-left:8px solid transparent;border-right:8px solid transparent;margin-top:7px;._right;._cont;}
                }
                .sbSelector {._opensansB;._text(18px, 26px);color:@white;._xu;border-bottom:5px solid @white;height:26px;padding:0 0 16px;._wrapx;._ovh;._blo;}
                .sbOptions {._bgc(@color2);max-height:125px!important;padding:3px 0 5px;._rel;top:0!important;z-index:1;._ovy;._none;
                    a {._text(14px, 16px);color:@white;._xu;padding:4px 15px 5px;._blo;}
                }
            }
        }
    }
    .box_3 {._bgc(@white);color:#226087;._alc;
        .txt {max-width:720px;min-height:375px;padding:54px 0 40px;margin:0 auto;._nop;._rel;z-index:1;
            &:before {._bg('contacts_box_3.png', transparent, no-repeat, 0, 0);._wh(240px, 359px);margin-right:-27px;._abs;bottom:0;right:100%;z-index:-1;._cont;}
        }
        .t1 {._opensansL;._text(36px, 40px);}
        .t2 {._opensansB;._text(32px, 36px);letter-spacing:0.05px;margin-top:11px;}
        .t3 {._bgc(@color1);._opensansL;._text(80px, 84px);padding:15px 34px 20px 20px;margin-top:27px;._rel;._inb;
            &:before {border-left:115px solid transparent;border-top:44px solid @color1;._abs;top:19px;right:100%;._cont;}
        }
        .t4 {._text(24px, 28px);margin-top:20px;}
        *:first-child {margin-top:0;}
    }
    .box_4 {._bg('contacts_box_4.jpg', transparent, no-repeat, center, 0);._cover;min-height:639px;._rel;
        &:before {._bgc(rgba(0,0,0,0.28));._abs;top:0;bottom:0;left:0;right:0;._cont;}
        &:after {._bg('contacts_box_4_1.png', transparent, repeat-x, center, 0);._abs;top:0;bottom:0;left:0;right:0;._cont;}
        .content {._wh(100%, 639px);display:table;
            > div {._vam;display:table-cell;}
        }
        .txt {._myriadR;._text(64px, 68px);color:@white;._alc;padding-top:8px;._rel;z-index:1;._trans(font-size, 0.3s, 0s);
            b {._n;._myriadB;color:@color1;}
        }
    }
    .box_5 {._bgc(@color2);color:@white;._rel;
        &:after {._bg('contacts_box_5_1.png', transparent, repeat-x, center, 0);height:55px;._abs;bottom:0;left:0;right:0;z-index:3;._cont;}
        .contacts_container {._clearfix;position:static;}
        .left {._clearfix;width:50%;padding:55px 0 93px;
            .col {width:50%;padding-right:44px;._nop;._left;}
            h2 {._opensansL;._text(30px, 34px);margin-bottom:43px;}
            .list {._text(14px, 18px);
                > div {._clearfix;
                    & + div {margin-top:16px;}
                }
                .label {width:52%;._left;}
                .value {._opensansB;margin-right:-20px;._ovh;}
                a {color:@white;._xu;._inb;}
            }
            a.btn_2 {margin-top:47px;._blo;}
        }
        .right {._bgc(#e5e3df);._abs;top:0;bottom:0;left:50%;right:0;._ovh;
            .map_tabs {width:0;._abs;top:27px;left:23px;z-index:2;
                > div {background:@white no-repeat center center;._rad(50%);border:5px solid #c3bcbc;._wh(59px, 59px);cursor:pointer;._trans(border-color, 0.3s, 0s);
                    & + div {margin-top:16px;}
                    &.google {._bgi('map_ico_google.png');}
                    &.yandex {._bgi('map_ico_yandex.png');}
                    &.sel {border-color:#226087;}
                }
            }
            .map_content {
                .map {._abs;top:-50px;bottom:-50px;left:-50px;right:-50px;
                    &.sel {z-index:1;._blo;}
                }
            }
        }
    }
    .box_6 {._bgc(#3cc9f7);color:@white;
        .contacts_container {padding-top:64px;padding-bottom:55px;}
        h2 {._opensansB;._text(24px, 32px);max-width:550px;padding-left:84px;margin-bottom:50px;._rel;
            &:before {._sprite1x(-250px, -50px);._wh(64px, 64px);margin-top:-31px;._abs;top:50%;left:0;._cont;}
        }
        form {padding:1px 0;
            .content {._clearfix;
                .col {width:30%;padding-right:20px;._nop;._left;}
                .col_2 {width:40%;._left;
                    .inputblock {max-width:287px;}
                }
                .inputblock {max-width:234px;
                    & + .inputblock {margin-top:31px;}
                    & + .textarea {margin-top:38px;}
                    label {._none;}
                    input {._bgn;._text(18px, 26px);color:@white;._wh(100%, 47px);border:0;border-bottom:5px solid @white;padding:0 0 16px;margin:0;._nop;._blo;
                        ._phcolor {color:@white;opacity:1;}
                        &::-webkit-input-placeholder {._phcolor;/*padding-top:1px;*/}
                        &:-moz-placeholder {._phcolor;}
                        &::-moz-placeholder {._phcolor;}
                        &:-ms-input-placeholder {._phcolor;}
                        &.placeholder {._phcolor;}
                    }
                    .sbHolder {height:47px;
                        .sbToggle {._xu;._wh(27px, 26px);border-bottom:5px solid @white;padding-bottom:16px;._right;
                            &:before {border-top:15px solid @color1;border-left:8px solid transparent;border-right:8px solid transparent;margin-top:7px;._right;._cont;}
                        }
                        .sbSelector {._text(18px, 26px);color:@white;._xu;border-bottom:5px solid @white;height:26px;padding:0 0 16px;._wrapx;._ovh;._blo;}
                        .sbOptions {._bgc(@color2);max-height:125px!important;padding:3px 0 5px;._rel;top:0!important;z-index:1;._ovy;._none;
                            a {._text(14px, 16px);color:@white;._xu;padding:4px 15px 5px;._blo;}
                        }
                    }
                    &.no_ok {
                        input, .sbHolder .sbToggle, .sbHolder .sbSelector {border-color:#fd6147;}
                    }
                }
                .textarea {
                    label {._none;}
                    textarea {._bgc(@white);._text(14px, 18px);color:#226087;._wh(100%, 118px);border:0;border-bottom:5px solid @white;padding:16px 19px 11px;margin:0;._nop;._blo;._ovy;resize:none;
                        ._phcolor {color:#226087;opacity:1;}
                        &::-webkit-input-placeholder {._phcolor;/*padding-top:1px;*/}
                        &:-moz-placeholder {._phcolor;}
                        &::-moz-placeholder {._phcolor;}
                        &:-ms-input-placeholder {._phcolor;}
                        &.placeholder {._phcolor;}
                    }
                    &.no_ok {
                        textarea {border-color:#fd6147;}
                    }
                }
            }
            .tools {._clearfix;margin-top:74px;
                a.btn_1 {min-width:234px;._left;}
                .msg {._opensansB;._text(14px, 18px);padding-left:24px;._ovh;
                    > div {._wh(100%, 46px);display:table;
                        > div {._vam;display:table-cell;}
                    }
                    span {margin-right:9px;._inb;}
                    .no_ok {color:#fd6147;}
                    .is_ok {color:#226087;}
                }
            }
        }
    }
    .box_7 {._bg('contacts_box_7.png', #226087, no-repeat, center, 0);
        .left {min-height:450px;
            .txt {._text(14px, 32px);color:@white;width:50%;max-width:540px;padding:65px 0 54px;
                &:before {._text(24px, 24px);margin:-22px -50px -50px 0;._left;content:attr(data-ico);}
                .ico {._text(24px, 24px);}
                h2 {._opensansB;._text(24px, 32px);margin:54px 0 60px;}
                a {color:@white;}
                p {margin:12px 0;._ovh;}
                ul, ol {._lsx;margin:12px 0;._ovh;
                    > li {padding-left:47px;._rel;
                        & + li {margin-top:12px;}
                    }
                }
                ul > li:before {._sprite1x(-200px, 0);._wh(18px, 18px);._abs;top:7px;left:0;._cont;}
                ol {counter-reset:myIndex;
                    > li:before {width:30px;._abs;top:0;left:0;content:counter(myIndex)'.';counter-increment:myIndex;}
                }
                *:first-child {margin-top:0;}
                *:last-child {margin-bottom:0;}
            }
        }
        .right {._bgc(@color1);._opensansB;._text(24px, 40px);color:@white;._alc;width:42%;max-width:480px;padding:0 30px;._nop;._abs;top:0;bottom:0;right:31px;
            > div {._wh(100%, 100%);display:table;
                > div {._vam;display:table-cell;}
            }
            .txt {max-width:350px;padding-top:294px;margin:0 auto;._rel;
                &:before {._sprite1x(0, -50px);._wh(228px, 228px);margin-left:-110px;._abs;top:19px;left:50%;._cont;}
            }
        }
    }
}
#footer.v2 {._bgc(@white);._opensansB;._text(12px, 16px);color:#3cc9f7;
    .container {max-width:1162px;padding:18px 31px 19px!important;margin:0 auto;._nop;}
    a {color:#3cc9f7;._xu;}
}
.web {
    #contacts {
        .box_2 form .sbHolder .sbOptions a:hover {._bgc(#3cc9f7);}
        .box_5 .right .map_tabs > div:hover {border-color:#226087;}
        .box_6 form .content .inputblock .sbHolder .sbOptions a:hover {._bgc(#3cc9f7);}
    }
    #footer.v2 a:hover {color:@color1;}
}
@media screen and (max-width:1100px){
    #contacts {
        .box_1 {
            .title {margin-top:140px;}
            .map {padding-top:3%;}
        }
        .box_2 {
            h2 {float:none;}
            form {._clearfix;margin:0 -15px;float:none;
                .inputblock {width:25%;padding:0 15px;margin-top:31px;._nop;
                    & + .inputblock {margin-left:0;}
                }
            }
        }
    }
}
@media screen and (max-width:1000px){
    #contacts {
        .box_5 .left .col {padding-right:30px;}
    }
}
@media screen and (max-width:930px){
    #contacts {
        .contacts_container {padding:0 20px;}
        .box_1 .map {padding-top:6%;
            .regions > div.samara .name {margin-top:19px;margin-bottom:0;top:100%;bottom:auto;
                > div, > a {
                    &:before {border-top:0;border-bottom:14px solid @white;top:auto;bottom:100%;}
                }
            }
        }
        .box_1.v2 .map {padding-bottom:20px;}
        .box_3 .txt {max-width:none;padding-left:50px;padding-right:50px;
            &:before {margin-right:-87px;}
        }
        .box_4 .txt {._text(60px, 64px);}
        .box_5 {
            .left {width:auto;padding:55px 0;
                .col {max-width:247px;padding:0 20px 0 0;
                    & + .col {padding:0 0 0 20px;}
                }
            }
            .right {height:448px;height:350px;margin:0 -20px;._rel;top:auto;bottom:auto;left:auto;right:auto;}
        }
        .box_6 form .content .col_2 .inputblock {max-width:none;}
        .box_7 .right {right:20px;}
    }
    #footer.v2 .container {padding-left:20px!important;padding-right:20px!important;}
    #aside_menu.no_index + #header + #wrapper + #footer.v2 .container {padding-left:20px!important;padding-right:20px!important;}
}
@media screen and (max-width:700px){
    #contacts {
        .box_1 {
            .title h1 {._text(30px, 34px);}
            .map {padding-top:12%;}
        }
        .box_2 {
            .contacts_container {padding-top:40px;padding-bottom:55px;}
            h2 {._text(30px, 34px);}
            form .inputblock {width:50%;}
        }
        .box_4 .txt {._text(54px, 58px);}
        .box_6 form .content {
            .col {width:50%;padding-right:15px;
                & + .col {padding:0 0 0 15px;}
            }
            .col_2 {width:100%;margin-top:31px;}
            .inputblock {max-width:none;}
        }
        .box_7 {
            .contacts_container {padding:0;}
            .left {min-height:0;padding:0 20px;
                .txt {width:auto;max-width:none;}
            }
            .right {width:auto;max-width:none;padding:30px 20px;position:static;}
        }
    }
}
@media screen and (max-width:600px){
    #contacts {
        .box_1 .map {padding-top:18%;}
        .box_3 .t3 {._text(60px, 64px);
            &:before {._none;}
        }
        .box_4 .txt {._text(50px, 54px);}
        .box_6 form .tools {
            a.btn_1 {float:none;}
            .msg {padding:0;margin-top:15px;
                > div {._wh(auto, auto);._blo;
                    > div {._blo;}
                }
            }
        }
    }
}
@media screen and (max-width:500px){
    #contacts {
        .box_1 .map {padding-top:24%;}
        .box_2 form {margin:0;
            .inputblock {width:100%;padding:0;}
        }
        .box_3 {
            .txt {padding-left:30px;padding-right:30px;}
            .t1 {._text(32px, 36px);}
            .t2 {._text(28px, 32px);}
            .t3 {._text(50px, 54px);padding:10px 20px 16px 17px;}
            .t4 {._text(20px, 24px);}
        }
        .box_4 .txt {._text(44px, 48px);}
        .box_5 {
            &:after {height:20px;}
            .left {
                .col {width:auto;max-width:none;padding:0;float:none;
                    & + .col {padding:0;margin-top:43px;}
                }
                .list .label {width:100px;}
            }
            .right {height:300px;}
        }
        .box_6 form {
            .content {
                .col {width:100%;padding:0;
                    & + .col {padding:0;margin-top:31px;}
                }
                .col_2 {width:100%;margin-top:31px;}
                .inputblock {max-width:none;}
            }
            .tools {margin-top:31px;
                a.btn_1 {._blo;}
            }
        }
    }
}
@media screen and (max-width:400px){
    #contacts {
        .box_1 .map {padding-top:35%;}
        .box_3 {
            .txt {padding-left:10px;padding-right:10px;}
            .t1 {._text(28px, 32px);}
            .t2 {._text(24px, 28px);}
        }
        .box_4 {min-height:500px;
            .content {height:500px;}
            .txt {._text(34px, 42px);}
        }
    }
}
@media screen and (max-width:350px){
    #contacts {
        .box_1 .map {padding-top:42%;}
    }
}

.popup {._bgc(rgba(0,0,0,0.75));._wh(100%, 100%);._fix;top:0;left:0;z-index:1000;._ovh;._none;
    &:before {._bg('loading.gif', @black, no-repeat, center, center);._rad(5px);._wh(44px, 44px);margin:-22px 0 0 -22px;._abs;top:50%;left:50%;._cont;}
    > section {._wh(100%, 100%);display:table;
        > section {._alc;._vam;._wh(100%, 100%);display:table-cell;}
    }
    .video {._bgc(@black);._wh(1200px, 675px);max-width:1200px;max-height:675px;margin:0 auto;._rel;z-index:1;._none;
        &.opn {._blo!important;opacity:1!important;}
        iframe {._bgc(@black);._wh(100%, 100%);._blo;}
    }
    .close {._ti;._wh(34px, 34px);._abs;top:-5px;right:-36px;._ovh;cursor:pointer;
        &:before {border-top:3px solid @white;._abs;top:16px;left:0;right:0;._cont;._trans(all, 0.3s, 0s);}
        &:after {border-top:3px solid @white;._abs;top:16px;left:0;right:0;._cont;._trans(all, 0.3s, 0s);}
        &:before {-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
        &:after {-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
    }
}
.mobile {
    .popup {._abs;}
}
.web {
    .popup .close:hover {
        &:before, &:after {border-color:@color1;}
    }
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 240dpi) {
    #header .phone .ico, #header .drop > a:before, #index .box_5 h2:before, .opendoc ul > li:before, .opendoc_menu .menu > ul > li:before,
    #contacts .box_7 .left .txt ul > li:before, #contacts .box_7 .right .txt:before,
    #contacts .box_6 h2:before {background-image:url('../images/design/sprite@2x.png')!important;background-size:400px;}
}
